/app/Config/database.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp
/lib/Cake/Test/test_app/tmp
/app/webroot/img/large/*
/app/webroot/img/medium/*
/app/webroot/img/original/*
/app/webroot/img/thumbnails
/app/webroot/img/captcha
/app/webroot/fonts
/app/webroot/files
ehthumbs.db
Thumbs.db