/*
.social_facebook {
    width: 40px;
    height: 40px;      
	background-image: url('../img/icons/sociales/Facebook-grey-min.png');
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.social_twitter {
    width: 40px;
    height: 40px;      
	background-image: url('../img/icons/sociales/Twitter-grey-min.png');
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;       
}

.social_mail {	
    width: 40px;
    height: 40px;      
	background-image: url('../img/icons/sociales/Mail-grey-min.png');
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;        
}

.social_facebook:hover {  
    width: 40px;
    height: 40px;      
	background-image: url('../img/icons/sociales/Facebook-green-hover-min.png');
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;         
}
.social_twitter:hover {	
    width: 40px;
    height: 40px;      
	background-image: url('../img/icons/sociales/Twitter-green-hover-min.png');
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;   
}

.social_mail:hover {	
    width: 40px;
    height: 40px;      
	background-image: url('../img/icons/sociales/Mail-green-hover-min.png');
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;          
}



.navegadores {	
    width: 230px;
    height: 92px;      
	background-image: url('../img/navegadores04-min.png');
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px;
    margin: 0px;   
}

.navegadores:hover {	
    width: 230px;
    height: 92px;      
	background-image: url('../img/navegadores04-grey-min.png');
    background-repeat: no-repeat;
    text-align: center;
    padding: 0px;
    margin: 0px;          
}
*/